In [2]:
import json
import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
import flickrapi
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt
import numpy as np
import io

In [3]:
api_key = u'b766ae533b2843f748b174f53885eee4'
api_secret = u'ac3884caa9690723'
flickr = flickrapi.FlickrAPI(api_key, api_secret, format='json')

In [4]:
df = pd.read_csv('dataset/dataset.csv', header=0, names=['id', 'name', 'lat', 'lon', 'locality', 'region', 'neighbourhood'])
df.head()

,id,name,lat,lon,locality,region,neighbourhood
0,50988380961,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
1,50988488177,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
2,50988380816,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
3,50988380741,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
4,50988487997,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku

In [5]:
photo_ids = df['id'].values

In [6]:
retry_strategy = Retry(
    total=3,
    status_forcelist=[429, 500, 502, 503, 504],
    method_whitelist=["HEAD", "GET", "OPTIONS"]
)
adapter = HTTPAdapter(max_retries=retry_strategy)
http = requests.Session()
http.mount("https://", adapter)
http.mount("http://", adapter)

In [23]:
f = open('dataset/veronika_users.csv', 'a', encoding='utf-8')

for row in tqdm(photo_ids[780+1403+416+341+6192+440+4303+1958+6216:38000]):
    photo = flickr.do_flickr_call('flickr.photos.getInfo', photo_id=row)
    parsed = json.loads(photo.decode('utf-8'))
    if 'photo' in parsed:
        user = parsed['photo']['owner']['username']
        s = str(row) + ',' + user + '\n'
        f.write(s)
f.close()

100%|██████████████████████████████████████████████████████████████████████████| 15951/15951 [1:28:09<00:00,  3.02it/s]