In [2]:
import pandas as pd

In [4]:
df_1 = pd.read_csv('../dataset/raw/veronika_users.csv', names=['id', 'username'])
df_1.head()

            id     username
0  50988380961  jasonpfinch
1  50988488177  jasonpfinch
2  50988380816  jasonpfinch
3  50988380741  jasonpfinch
4  50988487997  jasonpfinch

In [5]:
df_2 = pd.read_csv('../dataset/raw/ashish_users.csv', header=0, names=['id', 'username'])
df_2.head()

            id        username
0  40661704543  Hetan Majatalo
1  46712593625  Hetan Majatalo
2  33750788268  Hetan Majatalo
3  32685527997  Hetan Majatalo
4  46712593405  Hetan Majatalo

In [6]:
df = pd.concat([df_1, df_2])

In [7]:
duplicateRowsDF = df[df.duplicated()]
len(duplicateRowsDF)

780

In [8]:
df = df.drop_duplicates(subset='id').reset_index(drop=True)
len(df)

76852

In [9]:
df.head()

            id     username
0  50988380961  jasonpfinch
1  50988488177  jasonpfinch
2  50988380816  jasonpfinch
3  50988380741  jasonpfinch
4  50988487997  jasonpfinch

In [11]:
df.to_csv('../dataset/photo_users.csv', index=False)

In [21]:
photo_df = pd.read_csv('../dataset/dataset.csv')
df_full = pd.merge(df, photo_df, on='id')
df_full = df_full.drop_duplicates(subset='id').reset_index(drop=True)
df_full['username'].isnull().values.any()
df_full.to_csv('../dataset/photo_users_merged_dataset.csv', index=False)